{% load i18n %}
{# Загружаем теги для интернационализации (переводов), если нужно использовать {% trans %} и другие #}

{% autoescape off %}
{# Отключаем автоэкранирование HTML-сущностей, чтобы ссылки и текст отображались корректно в письме #}

Привет!

Вы запросили сброс пароля для аккаунта {{ user.get_username }} на сайте HelloMobile.
{# Вставляем имя пользователя (логин) с помощью метода get_username объекта user #}

Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{# Формируем полную ссылку для сброса пароля:
   - protocol: http или https
   - domain: доменное имя сайта
   - url: генерируем URL по имени маршрута 'users:password_reset_confirm'
     с параметрами uidb64 (кодированный ID пользователя) и токеном для подтверждения #
}

Если вы не запрашивали сброс, игнорируйте это письмо.
{# Инструкция для безопасности: если письмо пришло по ошибке, ничего не делать #}

С уважением,
Команда HelloMobile
{# Подпись отправителя #}

{% endautoescape %}
{# Включаем обратно автоэкранирование (если в дальнейшем используется) #}
