{% extends "base.html" %}
{% comment %} Подгрузка статических файлов {% endcomment %}
{% load static %} 

{% block css %}
    <!-- Стиль footer-a для главной страницы -->
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
    <!-- Контент на странице -->
    <h1 id="title" class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
{% endblock %}

{% block footer%}
{% comment %} Футер {% endcomment %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; HelloMobile 2025</p>
        </div>
    </footer>
{% endblock %}
